<h1> You have been logged in </h1>
<h2> Account Info For {{user.username}} </h2>
<dl>
    <dt> Username: </dt>
        <dd> {{user.username}} </dd>
    <dt> First Name: </dt>
        <dd> {{user.firstname}} </dd>
    <dt> Last Name: </dt>
        <dd> {{user.lastname}} </dd>
    <dt> Profession: </dt>
        <dd> {{user.profession}} </dd>
    <dt> Bio: </dt>
        <dd> {{user.bio}} </dd>
</dl>